* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #ffffff;
  --background-dark: #242424;
  --background-light: #ffffff;
  --text-dark: rgba(255, 255, 255, 0.87);
  --text-light: #213547;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-dark);
  background-color: var(--background-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--primary-color-hover);
}

body {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2f3648;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

.home-container {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  padding: 20px;
}

.profile-image {
  width: 30%; 
  height: auto;
  border-radius: 50%; 
  object-fit: cover; 
}


.content {
  max-width: 40%;
  padding-left: 20px;
  text-align: justify;
  color: #ffffff; 
}

.page {
  position: relative;
  min-height: 100vh;
}
.content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5; 
}

.footer {

  width: 100%;
  background-color: #1f253d;
  padding: 20px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  color: #ffffff;
  font-weight: bold;
  height: 70px;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer h3 {
  margin: 10px; 
}


.footer a {
  margin: 10px; 
  color: #ffffff;
  text-decoration: none;
  justify-content: space-between;
  font-size: 18px;
}

.footer a:hover {
  text-decoration: underline;
}

.pair .circle {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #1f253d;
  border-radius: 50%;
  margin-right: 8px; 
}

.pair {
  display: flex;
  align-items: center;
}
.pair p {
  font-size: 20px;
  padding: 10px;
  margin-top: 27px
}

.links {
  display: flex;
  justify-content: right;
  margin-top: -50px;
}

.links div {
  margin-right: 10px;
}

.links button {
  background-color: #1f253d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logo{
  display: flex;
}

.logo p{
  padding-top: 2px;
  padding-left: 5px;
}


.Bigcircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; 
  height: 400px; 
  background-color: #1f253d;
  border-radius: 50%;
  margin: 10px; 
  text-align: center;
  line-height: 1.5; 
  color: #fff; 
  text-decoration: none; 
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 30px;
}


.project-container {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 20px;
}

.title {
  text-align: center;
  margin-top: 3%;
}

.Bigcircle:hover {
  background-color: #2980b9; 
}

.Bigcircle p {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  color: #ccc; 
}

.downloadCV{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; 
  height: 100px; 
  background-color: #1f253d;
  border-radius: 50%;
  margin: 10px; 
  text-align: center;
  line-height: 1.5; 
  color: #fff; 
  text-decoration: none; 
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.downloadCV:hover {
  background-color: #2980b9; 
}

.improvedContent {
  margin-top: 3%;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .profile-image {
    width: 25%; 
  }

  .content {
    max-width: 60%; 
  }
}

@media screen and (max-width: 768px) {
  .profile-image {
    width: 150px; 
    height: 150px; 
  }
  .home-container {
    flex-direction: column; 
  }
  .project-container{
    flex-direction: column;
    align-items: center; 
  }

  .Bigcircle {
    width: 150px;
    height: 150px;
    font-size: 0.9rem;
    margin: 10px 0; 
  }
  .content {
    max-width: 100%; 
    padding: 0 20px; 
  }
  .footer{
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .profile-image {
    width: 100px; 
    height: 100px;  
  }
  .pair{
    flex-direction: column;
  }

  .footer{
    flex-direction: column;
  }

  .home-container {
    flex-direction: column; 
  }
  .Bigcircle {
    width: 100px; 
    height: 100px; 
    font-size: 0.8rem; 
  }
  .content {
    max-width: 100%; 
    padding: 0 20px; 
  }
  .project-container {
    flex-direction: column; 
    align-items: center; 
  }
}